{% extends "base.html" %}

{% block title %}
    Мой профиль
{% endblock title %}


{% block content %}
    <h1>Тест</h1>

    {% if request.user.is_authenticated %}
        <ul>
            <li>Имя пользователя: {{ request.user.username }}</li>
            <li>Электронная почта: {{ request.user.email }}</li>
            <li>Уровень: {{ request.user.get_grade_display }}</li>
            <li>Количество отвеченных вопросов: {{ request.user.given_answers_count }}</li>
        </ul>
    {% else %}
        <p>Пользователь не залогинен</p>
    {% endif %}
{% endblock content %}
