{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load questions_tags %}

{% block title %}
    Ingenium
{% endblock title %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <div class="row  align-items-start">

            {% show_sidebar_categories %}
        
            <div class="col">

                <div class="mb-4 text-center">
                    <p class="h2 font-pt-serif">Последние вопросы</p> 
                </div>

                {% for question in questions %}
                    {% show_question_in_list question %}
                {% endfor %}
                
                {% include "pagination.html" with page=questions %}
            </div>
        </div>
    </div>

</div>

{% endblock %}