{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load questions_tags %}

{% block title %}
    Ingenium
{% endblock title %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <div class="row align-items-start">

            {% show_sidebar_categories %}
        
            <div class="col">

                <div class="mb-4">
                    <p class="h2 font-jost">{{ category.title }} </p> 
                    <div>
                        <p class="font-noto-sans mt-3">{{ category.description }}</p>
                    </div>
                </div>

                {% for question in questions %}
                    {% show_question_in_list_without_category question %}
                {% empty %}

                <div class="mt-5">
                    <div class="mb-3">
                        <p class="h4 font-jost">В этой категории пока нет вопросов</p>
                        <p>Будьте первыми</p>
                    </div>
                    <div>
                        <a href="{% url 'questions:create_question' %}" class="btn btn-dark">Задать свой вопрос</a>
                    </div>
                </div>
                {% endfor %}

                
                {% if questions %}
                    {% include "pagination.html" with page=questions %}
                {% endif %}

            </div>
            
        </div>
        
    </div>

    

</div>

{% endblock %}
