{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load questions_tags %}

{% block title %}
    Ingenium
{% endblock title %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <div class="row align-items-start">

            {% show_sidebar_categories %}
        
            <div class="col">

                <div>
                    <div>
                        <p class="font-jost h5">Автор вопроса: {{ question.user.username }}</p>
                    </div>

                    <div>
                        <p class="font-jost">{{ question.created_at | date:"d.m.Y H:i" }}</p>
                    </div>
                </div>
                
                <hr>

                <div style="display: flex;">
                    
                    <div class="ms-3 mt-4 me-4 text-center">
                        <div class="mb-1">
                            <input type="radio"
                            class="btn-check vote-button" id="btnVoteUp" 
                            name="vote" autocomplete="off"
                            {% if user_vote and user_vote.is_up %}checked data-action="deleteVote"{% else %}data-action="voteUp"{% endif %}>
                            <label class="btn btn-outline-dark" for="btnVoteUp"><p class="h5">↑</p></label>
                        </div>

                        <div class="mt-2 mb-2">
                            <p id="questionVotesCount" class="h5">{{ question.votes_count }}</p>
                        </div>
                    
                        <div>
                            <input type="radio" 
                            class="btn-check vote-button" id="btnVoteDown" 
                            name="vote" autocomplete="off"
                            {% if user_vote and user_vote.is_down %}checked data-action="deleteVote"{% else %}data-action="voteDown"{% endif %}>
                            <label class="btn btn-outline-dark" for="btnVoteDown"><p class="h5">↓</p></label>
                        </div>
                    </div>
                

                    <div class="mt-4 mb-4">
                        <div>
                            <p class="h2 font-pt-serif">{{ question.title }}</p>
                        </div>
                        <div>
                            <p>
                                {{ question.content }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Similar questions -->
                {% if similar_questions %}
                <div class="mt-4">
                    <h4 class="font-pt-serif">Похожие вопросы</h4>
                    <div class="list-group">
                        {% for similar_question in similar_questions %}
                            <a href="{{ similar_question.get_absolute_url }}" class="list-group-item list-group-item-action">
                                <p class="mb-1">{{ similar_question.title }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <hr>

                <div class="mt-3">

                    {% if request.user.is_authenticated %}
                        <div class="mb-4">
                            <form action="{{ question.get_absolute_url }}" method="post">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    {{ form.content | as_crispy_field }}
                                </div>

                                <div>
                                    <button class="btn btn btn-dark" type="submit">Отправить</button>
                                </div>
                                
                            </form>
                        </div>
                    {% else %}
                        <div class="pt-4 pb-4">
                            <p class="text-body-secondary font-noto-sans h5">
                                <a class="link-dark link-offset-3 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'users:register' %}">
                                    Зарегистрируйтесь
                                </a> 
                                или 
                                <a class="link-dark link-offset-3 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'users:login' %}">
                                    войдите в аккаунт
                                </a>, чтобы дать свой ответ
                            </p>
                        </div>
                    {% endif %}      
                    
                    <div class="mb-3">
                        <p class="h4 font-pt-serif">Ответы ({{ question.answers.count }})</p>
                    </div>
                    
                    {% for answer in question.answers.all %} 
                        <div class="card mb-3 {% if answer.is_the_best %} text-bg-success {% endif %}">
                            
                            <div class="card-body ">
                                <h6 class="card-subtitle mb-2" >{{ answer.user.username }}</h6>
                                {{ answer.content }}
                                <div>
                                    <p class="card-text text-end"><small class="text-body-secondary">{{ answer.created_at | date:"d.m.Y H:i" }}</small></p>
                                </div>
                            </div>
                        </div>
                    
                    {% empty %}
                        <div>
                            <p>Ответов на этот вопрос пока нет...</p>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Registration/Login Modal -->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="authModalLabel">Вам нужно войти в систему</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Пожалуйста, <a href="{% url 'users:login' %}">войдите в систему</a> или <a href="{% url 'users:register' %}">зарегистрируйтесь</a>, чтобы проголосовать.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block domready %} 
<script>
const API_URLS = {
    voteUp: "{% url 'votes:vote_up_for_question' %}",
    voteDown: "{% url 'votes:vote_down_for_question' %}",
    deleteVote: "{% url 'votes:delete_vote_for_question' %}"
};

const ERROR_MESSAGES = {
    unexpected: "An unexpected error occurred.",
    missingElement: "Element is missing."
};

const BUTTON_IDS = {
    buttonVoteUp: "btnVoteUp", 
    buttonVoteDown: "btnVoteDown"
}

const actionButtons = document.querySelectorAll('.vote-button');
actionButtons.forEach(button => {
    button.addEventListener('click', () => {
        const action = button.dataset.action;

        const isAuthenticated = "{{ user.is_authenticated|yesno:'true,false' }}" === "true";
        if (isAuthenticated) {
            // Change vote count immediately
            updateVotesCountOnClick(action);
            saveVotesCount(action);
            changeButtonState(button);
        } else {
            showRegistrationBanner();
            uncheckAllButtons(actionButtons);
        }
    });
});

async function saveVotesCount(action) {
    try {
        const formData = new FormData();
        formData.append("question_id", "{{ question.pk }}");

        const url = API_URLS[action];
        const headers = {
            "X-CSRFToken": "{{ csrf_token }}"
        };
        const options = {
            method: "POST",
            headers: headers,
            mode: "same-origin",
            body: formData
        };

        const response = await fetch(url, options);
        const data = await response.json();
    } catch (error) {
        handleError(ERROR_MESSAGES.unexpected);
    }
}

function updateVotesCountOnClick(action) {
    const votesCountElement = document.getElementById("questionVotesCount");
    let currentCount = parseInt(votesCountElement.textContent, 10);
    const buttonUp = document.getElementById(BUTTON_IDS.buttonVoteUp);
    const buttonDown = document.getElementById(BUTTON_IDS.buttonVoteDown);
    
    console.log("buttonUp checked:", buttonUp.checked);
    console.log("buttonDown checked:", buttonDown.checked);

    if (action === "voteUp") {
        if (buttonDown.dataset.action == "deleteVote") {
            currentCount += 2; 
        } else {
            currentCount += 1; 
        }
    } else if (action === "voteDown") {
        if (buttonUp.dataset.action == "deleteVote") {
            currentCount -= 2; 
        } else {
            currentCount -= 1; 
        }
    } else if (action === "deleteVote") {
        if (buttonUp.dataset.action == "deleteVote") {
            currentCount -= 1; 
        } else if (buttonDown.dataset.action == "deleteVote") {
            currentCount += 1; 
        }
    }

    votesCountElement.textContent = currentCount;
}

function handleError(message) {
    console.error(message);
}

function changeButtonState(button) {
    let action = button.dataset.action;
    const buttonUp = document.getElementById(BUTTON_IDS.buttonVoteUp);
    const buttonDown = document.getElementById(BUTTON_IDS.buttonVoteDown);

    if (action === "voteUp") {
        buttonUp.checked = true;
        buttonDown.checked = false;
        button.dataset.action = "deleteVote";
        buttonDown.dataset.action = "voteDown";

    } else if (action === "voteDown") {
        buttonDown.checked = true;
        buttonUp.checked = false;
        button.dataset.action = "deleteVote";
        buttonUp.dataset.action = "voteUp";
        
    } else if (action === "deleteVote") {
        if (button.id === BUTTON_IDS.buttonVoteUp) {
            button.checked = false;
            button.dataset.action = "voteUp";
        } else if (button.id === BUTTON_IDS.buttonVoteDown) {
            button.checked = false;
            button.dataset.action = "voteDown";
        }
    }

    console.log(button.checked)
}

function showRegistrationBanner() {
    const authModal = new bootstrap.Modal(document.getElementById('authModal'));
    authModal.show();
}

function uncheckAllButtons(buttons) {
    buttons.forEach(button => {
        button.checked = false;
    });
}
</script>
{% endblock %}
