{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load questions_tags %}

{% block title %}
    Ingenium
{% endblock title %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <div class="row align-items-start">

            {% show_sidebar_categories %}
        
            <div class="col">

                <div>
                    <div>
                        <p class="font-jost h5">Спрашивает: {{ question.user.username }}</p>
                    </div>

                    <div>
                        <p class="font-jost">{{ question.created_at | date:"d.m.Y H:i" }}</p>
                    </div>
                </div>
                
                <hr>

                <div style="display: flex;">
                    
                    <div class="ms-3 mt-4 me-4 text-center">
                        <div class="mb-1">
                            <input data-action="voteUp" type="radio" 
                            class="btn-check vote-button" id="btnVoteUp" 
                            name="vote" autocomplete="off"
                            {% if user_vote and user_vote.is_up %}checked{% endif %}>

                            <label class="btn btn-outline-dark" for="btnVoteUp"><p class="h5">↑</p></label>
                        </div>

                        <div class="mt-2 mb-2">
                            <p id="questionVotesCount" class="h5">{{ question.votes_count }}</p>
                        </div>
                    
                        <div>
                            <input data-action="voteDown" type="radio" 
                            class="btn-check vote-button" id="btnVoteDown" 
                            name="vote" autocomplete="off"
                            {% if user_vote and user_vote.is_down %}checked{% endif %}>
                            <label class="btn btn-outline-dark" for="btnVoteDown"><p class="h5">↓</p></label>
                        </div>
                    </div>
                

                    <div class="mt-4 mb-4">
                        <div>
                            <p class="h2 font-pt-serif">{{ question.title }}</p>
                        </div>
                        <div>
                            <p>
                                {{ question.content }}
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="mt-3">

                    {% if request.user.is_authenticated %}
                        <div class="mb-4">
                            <form action="{{ question.get_absolute_url }}" method="post">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    {{ form.content | as_crispy_field }}
                                </div>

                                <div class="">
                                    <button class="btn btn btn-dark" type="submit">Отправить</button>
                                </div>
                                
                            </form>
                        </div>
                    {% else %}
                        <div class="pt-4 pb-4">
                            <p class="text-body-secondary font-noto-sans h5">
                                <a class="link-dark link-offset-3 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'users:register' %}">
                                    Зарегистрируйтесь
                                </a> 
                                или 
                                <a class="link-dark link-offset-3 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'users:login' %}">
                                    войдите в аккаунт
                                </a>, чтобы дать свой ответ
                            </p>
                        </div>
                    {% endif %}      
                    
                    <div class="mb-3">
                        <p class="h4 font-pt-serif">Ответы ({{ question.answers.count }})</p>
                    </div>
                    
                    {% for answer in question.answers.all %} 
                        <div class="card mb-3 {% if answer.is_the_best %} text-bg-success {% endif %}">
                            
                            <div class="card-body ">
                                <h6 class="card-subtitle mb-2" >{{ answer.user.username }}</h6>
                                {{ answer.content }}
                                <div>
                                    <p class="card-text text-end"><small class="text-body-secondary">{{ answer.created_at | date:"d.m.Y H:i" }}</small></p>
                                </div>
                            </div>
                        </div>
                    
                    {% empty %}
                        <div>
                            <p>Ответов на этот вопрос пока нет...</p>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block domready %} 
<script>
const API_URLS = {
    voteUp: "{% url 'votes:vote_up_for_question' %}",
    voteDown: "{% url 'votes:vote_down_for_question' %}",
    deleteVote: "{% url 'votes:delete_vote_for_question' %}"
};

const ERROR_MESSAGES = {
    unexpected: "An unexpected error occurred.",
    missingElement: "Element is missing."
};

const BUTTON_IDS = {
    buttonVoteUp: "btnVoteUp", 
    buttonVoteDown: "btnVoteDown"
}

async function handleVote(action) {
    try {
        const formData = new FormData();
        formData.append("question_id", "{{ question.pk }}");

        const url = API_URLS[action];
        const headers = {
            "X-CSRFToken": "{{ csrf_token }}"
        };
        const options = {
            method: "POST",
            headers: headers,
            mode: "same-origin",
            body: formData
        };

        const response = await fetch(url, options);
        const data = await response.json();

        if (response.ok && data.status === "ok") {
            updateVotesCount(data.votes_count);
        } else {
            handleError(data.message || ERROR_MESSAGES.unexpected);
        }
    } catch (error) {
        handleError(ERROR_MESSAGES.unexpected);
    }
}


function updateVotesCount(count) {
    if (count === null) {
        count = 0;
    }
    const votesCountElement = document.getElementById("questionVotesCount");
    if (votesCountElement) {
        votesCountElement.textContent = count;
    } else {
        handleError(ERROR_MESSAGES.missingElement);
    }
}

function handleError(message) {
    console.error(message);
}

function changeButtonState(button) {
    let action = button.dataset.action;
    const buttonUp = document.getElementById(BUTTON_IDS.buttonVoteUp);
    const buttonDown = document.getElementById(BUTTON_IDS.buttonVoteDown);

    if (action === "voteUp") {
        buttonUp.checked = true;
        buttonDown.checked = false;
        button.dataset.action = "deleteVote";
        buttonDown.dataset.action = "voteDown";

    } else if (action === "voteDown") {
        buttonDown.checked = true;
        buttonUp.checked = false;
        button.dataset.action = "deleteVote";
        buttonUp.dataset.action = "voteUp";
        
    } else if (action === "deleteVote") {
        if (button.id === BUTTON_IDS.buttonVoteUp) {
            button.checked = false;
            button.dataset.action = "voteUp";
        } else if (button.id === BUTTON_IDS.buttonVoteDown) {
            button.checked = false;
            button.dataset.action = "voteDown";
        }
    }
}

const actionButtons = document.querySelectorAll('.vote-button');
actionButtons.forEach(button => {
    button.addEventListener('click', () => {
        const action = button.dataset.action;
        handleVote(action);
        changeButtonState(button);
    });
});
</script>

{% endblock %}