html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    padding-top: 90px;
}
.no-text-decoration 
{
    text-decoration: none;
}

.font-jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-pt-serif {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.font-noto-sans {
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
