{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Сброс пароля{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="mb-3">
            <h2>Сброс пароля</h2>
        </div>
        <div>
            <p>Мы отправили вам на почту письмо с инструкциями по сбросу пароля.</p>
            <p>Если письмо не пришло, проверьте папку "Спам" и убедитесь в том, что вы указали тот адрес электронной почты, под которым вы регистрировались</p>
        </div>
    </div>
{% endblock content %}
