{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Мой профиль
{% endblock title %}


{% block content %}
  <div class="container">
    <div class="row justify-content-start">

      <div class="col-3 align-self-start">

          <div>

              <div class="mb-3">
                  <p class="h5">Дано ответов: {{ request.user.given_answers_count }}</p> 
              </div>

              <div class="mb-3">
                  <p class="h5">Уровень: {{ request.user.get_grade_display }}</p>
              </div>

              <div class="mb-3">
                  <img src="{{ request.user.image.url }}" alt="Ваша аватарка" class="img-thumbnail">
              </div>
          </div>
          

    </div>
    <div class="col-6 align-self-center">

          <div>
            <form method="post" action="{% url 'users:profile' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.username | as_crispy_field }}
                </div>

                <div class="mb-3">
                    {{ form.email | as_crispy_field }}
                </div>

                <div class="mb-3">
                    {{ form.description | as_crispy_field }}
                </div>

                <div class="mb-3">
                    {{ form.image | as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-dark small-margin-top">Сохранить</button>

              </form>
          </div>
        

    </div>
</div>
</div>
{% endblock content %}