{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Мой профиль
{% endblock title %}


{% block content %}
<div class="container">
    <h2>Мой профиль</h3>

    <div class="mb-3">
        <p>Дано ответов: {{ request.user.given_answers_count }}</p> 
    </div>
    <div class="mb-3">
        <p>Уровень: {{ request.user.get_grade_display }}</p>
    </div>
    <div class="mb-3">
        <img src="{{ request.user.image.url }}" alt="Профильное изображение" style="max-width: 200px; max-height: 200px;">
    </div>
    <form method="post" action="{% url 'users:profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3"  style="width: 25rem;">
            {{ form.username | as_crispy_field }}
        </div>
        <div class="mb-3" style="width: 25rem;">
            {{ form.email | as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.image | as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-primary small-margin-top">Сохранить</button>
    </form>
    
  </div>
{% endblock content %}