{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Вход{% endblock title %}


{% block content %}
    <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="text-center mb-2 mt-4">Вход</h2>
                    <form action="{% url 'users:login' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.email | as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.password | as_crispy_field }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-1">Войти</button>
                    </form>
                    <div class="text-center mb-2 mt-4">
                        <a href="{% url 'users:register' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Ещё нет аккаунта?</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}